#! /usr/bin/env bash

alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias t='tmuxa'
alias dmesg='s dmesg --color --reltime'
alias open='xdg-open'
alias o='xdg-open'
alias oer='mimeopen -d'
alias owith='mimeopen --ask'
if command -v nvim &> /dev/null && [ -f "$HOME/.config/nvim/nvim.appimage" ]; then
    alias nvim="~/.config/nvim/nvim.appimage"
    alias vim='nvim'
fi
alias sc='sudo systemctl'
alias s='sudo'
# alias note='vim ~/Documents/temp.txt'
alias q='exit'
alias c='clear'

alias zshrc='vim ~/.config/zsh/.zshrc'
alias eal='vim ~/.config/zsh/.aliases'
alias sal='source ~/.config/zsh/.aliases'


# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias ls='ls --color=auto'
	alias dir='dir --color=auto'
	alias vdir='vdir --color=auto'
	alias grep='grep --color=auto' # can cause problems
	alias fgrep='grep -F --color=auto'
	alias egrep='grep -E --color=auto'
fi

alias c="clear"
alias cd..="cd .."
alias curl="curl --user-agent 'noleak'"
alias r="lfcd"
alias shred="shred -zf"
alias diff='diff --color=auto'
alias grep="grep --color=auto"
# alias wget="wget --hsts-file=\$XDG_CACHE_HOME/wget-hsts -c --user-agent 'noleak'"
alias dd="dd status=progress"
alias cp="cp -i" # confirm before overwriting something
alias rm="rm -i"
alias mv="mv -i"
alias df="df -h" # human-readable sizes
alias free="free -h"
alias du="du -h"
alias ip='ip -color=auto'
alias mkdir="mkdir -pv"
alias yt="yt-dlp --embed-metadata -i"
alias yta="yt -x -f bestaudio/best --audio-format mp3"
alias ffmpeg="ffmpeg -hide_banner"
alias cb='flatpak run app.getclipboard.Clipboard'
if command -v fastfetch &> /dev/null; then
    alias neofetch="fastfetch -c all.jsonc"
fi

# Search command line history
alias h="history 1000 | grep "

# Search running processes
alias p="ps aux | grep "
alias psmem='ps auxf | sort -nr -k 4 | head -5'
alias pscpu="/bin/ps -eo pcpu,pid,user,args | sort -k 1 -r | head -10"

# Search files in the current folder
alias findfile="find . | grep "

# Count all files (recursively) in the current fold  er
alias countfiles="for t in files links directories; do echo \`find . -type \${t:0:1} | wc -l\` \$t;   done 2> /dev/null"

# Alias's to show disk space and space used in a folder
alias diskspace="du -S | sort -n -r |more"
alias folders='du -h --max-depth=1'
alias folderssort='find . -maxdepth 1 -type d -pr  int0 | xargs -0 du -sk | sort -rn'
alias tree='tree -CAhF --dirsfirst'
alias tree-dirs='tree -CAFd'
alias mountedinfo='df -hT'

# Show all logs in /var/log
alias logs="sudo find /var/log -type f -exec file   {} \; | grep 'text' | cut -d' ' -f1 | sed -e's/:$/  /g' | grep -v '[0-9]$' | xargs tail -f"

# ls aliases
alias l="ls"                      # easy 'ls'
alias sl="ls"                     # mis-type
alias la='ls -Ah'                 # show hidden files
alias ll='ls -lh'                 # show hidden files
alias lla='ls -Alh'               # show hidden files, long listing
alias ls-less='ls -aAlh | less' # pipe through 'more'
alias ls-wide='ls -xAh'       # wide listing format
alias ls-long='ls -AlhF'       # long listing format
alias ls-files="ls -lh | egrep -v '^d'" # files only
alias ls-dirs="ls -d ./*" # directories only
if command -v eza &> /dev/null; then
    alias ls-sort-extension='ls --long --sort=extension'
    alias ls-sort-size='ls --long --sort=size'
    alias ls-sort-change-time='ls --long --sort=changed'
    alias ls-sort-access-time='ls --long --sort=accessed'
    alias ls-sort-recursive='ls --long --recurse'
    alias ls-alphabetical-sort='ls --long --sort=name'
    alias ls-sort-modified='eza --long --all --sort=modified'
    alias lr='eza --long --all --sort=modified'
    alias ls='eza'
else
    alias ls-sort-extension='ls -lAXBh'               # sort by extension
    alias ls-sort-size='ls -lASrh'      # sort by size
    alias ls-sort-change-time='ls -lAcrh'      # sort by change time
    alias ls-sort-access-time='ls -lAurh'      # sort by access time
    alias ls-sort-recursive='ls -lARh'       # recursive ls
    alias ls-alphabetical-sort='ls -Alha'     #alphabetical sort
    alias ls-sort-modified='ls -lAtrh'      # sort by date
    alias lr='ls -lAtrh'      # sort by date
    alias ls='ls -AFh --color=always' # add colors and file type extensions
fi

# Filesystem aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."

if [[ -n $ZSH_VERSION ]]; then
	# zsh buch s.82 (z.B. find / ... NE)
	alias -g NE='2>|/dev/null'
	alias -g NO='&>|/dev/null'
	alias -g EO='>|/dev/null'
	# http://rayninfo.co.uk/tips/zshtips.html
	alias -g G='| grep '
	alias -g P='2>&1 | $PAGER'
	alias -g L='| less'
	alias -g LA='2>&1 | less'
	alias -g M='| most'
	alias -g C='| wc -l'
fi

######### System-specific overrides #############
# Archlinux(PC-IN) 
if command -v pacman &> /dev/null; then
	alias aur='yay'
	alias inst='sudo pacman -S --verbose'
	alias uninst='sudo pacman -Rns'
	alias search='aur -Ss'
	alias list='pacman -Qet | less'
	alias listall='pacman -Q | less'
    alias ngrok-start='ssh -R 0:localhost:22 tunnel.in.ngrok.com tcp 22'
	alias upgrade='aur -Syyu ; flatpak update'
    if command -v bat &> /dev/null; then
        alias cat='bat --paging=never --style=plain'
    fi
# Ubuntu/Debian-like
elif command -v apt &> /dev/null; then
    alias adb='HOME="$XDG_DATA_HOME"/android adb'
	alias search='apt search'
	alias inst='sudo apt install'
	alias uninst='sudo apt --purge remove'
    if command -v nala &> /dev/null; then
        alias search='nala search'
        alias inst='sudo nala install'
        alias uninst='sudo nala remove --purge '
    fi
	alias upgrade='sudo apt --purge autoremove && sudo apt update && sudo apt full-upgrade && flatpak update'
	alias auto='sudo apt-mark auto'
	alias manu='sudo apt-mark manual'
	# alias backup='bash "/media/elvin/eHDD/repos/RecoverUbuntu/backup/BACKUP_UBUNTU.sh"' leave commented until stable
	alias list='apt-mark showmanual | less'
	alias listall='dpkg --list'
    if command -v batcat &> /dev/null; then
        alias cat='batcat --paging=never --style=plain'
    fi
# Termux(Phone)
elif [ -f "/data/data/com.termux/files/usr/bin/pkg" ]; then
	alias search='pkg search'
	alias inst='pkg install'
	alias uninst='pkg uninstall'
	alias upgrade='pkg update && pkg upgrade'
	alias auto='apt-mark auto'
	alias manu='apt-mark manual'
	alias list='pkg list-installed | grep -v "automatic"'
	alias listall='pkg list-installed'
    alias config='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
    unalias vim
    unalias nvim
fi
