[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:elvindesouza/neovim-config.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-autosuggestions"]
    path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions

