!https://www.in-ulm.de/~mascheck/X11/XTerm
!https://wiki.archlinux.org/title/Xterm
!
!Note: Never set TERM variable manually, always let your terminal set it. Overriding this variable means there is something wrong with your xterm setup.
!xterm.termName: xterm-256color

!xterm*faceName: Monospace
*font: Iosevka Nerd Font Mono:pixelsize=30:antialias=true:autohint=true
xterm*faceName: Iosevka Nerd Font Mono
XTerm*faceSize: 30
XTerm*faceSize1: 12
XTerm*faceSize2: 22
XTerm*faceSize3: 26
XTerm*faceSize4: 28
XTerm*faceSize5: 34
XTerm*faceSize6: 36
XTerm*faceSize7: 38
XTerm*fontSize: 32
XTerm*renderFont: true

xterm*background: #000000
xterm*foreground: #FFFFFF
XTerm.vt100.scaleHeight: 1.01


XTerm.vt100.backarrowKey: false
Xterm.ttyModes: erase ^?

xterm.vt100.geometry: 80x32
*scrollWithBuffer:true
XTerm*selectToClipboard: true

Xft.antialias: true
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

Xterm.vt100.locale: true
XTerm*utf8: true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
    XTerm*loginshell: true

! double-click to select whole URLs :D
    XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

XTerm.vt100.translations: #override \n\
  Ctrl <Key> -: smaller-vt-font() \n\
  Ctrl <Key> +: larger-vt-font()\n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

!Xterm*vt100*altIsNotMeta: true
*metaSendsEscape: true
!XTerm*vt100*altSendsEscape: true
*scrollTtyKeypress: true
!XTerm*eightBitInput: false
!XTerm*eightBitOutput: true

!---
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
!XTerm*cursorColor: yellow
!XTerm*cursorBlink: true
*.color0:   #000000
*.color1:   #cd0000
*.color2:   #00cd00
*.color3:   #cdcd00
*.color4:   #0000cd
*.color5:   #cd00cd
*.color6:   #00cdcd
*.color7:   #e5e5e5
*.color8:   #4d4d4d
*.color9:   #ff0000
*.color10:  #00ff00
*.color11:  #ffff00
*.color12:  #0000ff
*.color13:  #ff00ff
*.color14:  #00ffff
*.color15:  #aabac8


!XTerm.vt100.selectToClipboard: true
!Xterm*vt100*altIsNotMeta: true
!XTerm*vt100*altSendsEscape: true

!XTerm*eightBitInput: false
!XTerm*eightBitOutput: true

