
/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);


/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome,"IosevkaTerm Nerd Font", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
}

window#waybar {
  background: rgba(24, 10, 0, 0.5);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.4;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label{
  color: @content_main;
}

#workspaces {
  /* color: transparent; */
  	background: #000000;
	margin-right: 1.5px;
	margin-left: 1.5px;
}
#workspaces button {
    padding: 0 3px;
    color: #797979;
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
	color: @content_main;
}
#workspaces button.focused {
    color: #ffffff;
}
#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	color: @warning_color;
}
#workspaces button:hover {
  background: @bg_hover;
	color: @content_main;
}
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  background: #64727D;
  /* border-bottom: 3px solid #ffffff; */
}

#clock, #battery, #cpu, #memory, #mpris, #temperature, #backlight, #network, #bluetooth, #pulseaudio, #custom-media, #tray, #disk, #mode, #idle_inhibitor, #custom-nvidia, #power-profiles-daemon, #battery-bat2, #custom-clipboard, #custom-notification {
  padding: 0 5px;
}

#temperature {
  background: #af997f;
  color: black;

	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
  background: #eb4d4b;
  	font-size: initial;
	border-bottom: 3px dashed @warning_color;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray{
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2980b9;
}
#tray > .passive {
	border-bottom: none;
}
#tray > .active {
	border-bottom: 3px solid white;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @bg_hover;
}
#tray menu {
  font-family: sans-serif;
}

#pulseaudio {
  background-color: #bd871c;
  color: #ffffff;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#pulseaudio:hover {
	background: @bg_hover;
}
#pulseaudio.muted {
  background: #2f2f2f;
  color: #494949;
}

#network {
    background: #2980b9;
}
#network.disconnected {
  background: #f53c3c;
}
#network:hover {
 	background: @bg_hover;
}

#clock {
    background-color: #ff0000;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-weight: bold;
}
#clock:hover {
	background: @bg_hover;
}

#battery {
    background-color: #ffed65;
    color: #292929;
}
#battery.plugged {
  color: #929292;
  background-color: #242424;
}
#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
      background-color: #ffffff;
      color: #000000;
  }
}
#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#bluetooth {
    background: #2980b9;
    color: #ffffff;
}
#bluetooth:hover {
 	background: @bg_hover;
}

#cpu {
  background: #c59dc6;
  color: #000000;
}
#cpu:hover {
 	background: @bg_hover;
}

#memory {
  background: #c8b7c6;
  color: #000000;
}

#backlight {
  background: #ffffff;
  color: #000000;
}

#mpris {
  background-color: #725b2d;
  color: #282828;
}
#mpris.playing {
  background-color: #d79921;
  color: #282828;
}
#custom-playerctl-previous{
  background-color: #d79921;
  color: #282828;
  padding-left: 3px;
  padding-right: 3px;

}
#custom-playerctl-next{
  background-color: #d79921;
  color: #282828;
  padding-left: 3px;
  padding-right: 3px;

}

#custom-nvidia{
  background-color: #3c4c3a;
  color: #d8d8d8;
}

#custom-notification:hover {
  background:  @bg_hover;
	color: @content_main;
}

#custom-clipboard:hover {
  background:  @bg_hover;
	color: @content_main;
}
